# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
.env
.env.*

# AWS
.aws/
*.pem
*.key

# Credentials
credentials.json
config.json
secrets.json

# Databases
*.db
*.sqlite

# ChromaDB
vectordb/
chroma/

# Logs
*.log

# IDE
.vscode/
.idea/

# Mac
.DS_Store

# Inventory Files
*_inventory.csv
*_inventory.xlsx

docs/inventory/*
!docs/inventory/sample_inventory.csv
